//----------------------------------*\
// Dev
//----------------------------------*/
//edit()

//----------------------------------*\
// Node Modules
//----------------------------------*/
//Change settings if needed
//@import 'nib'
@import 'axis'
//Layout grid
@import 'jeet'
//breakPoints
@import 'rupture'
//Animation
@import 'axis/animation'

//Axis Reset
global-reset()
normilize()

//----------------------------------*\
// Vendor
//----------------------------------*/

//Specify if you need
@import "vendor/*"


//----------------------------------*\
// Bower Componets
//----------------------------------*/

//@import "bower_components/remodal/dist/jquery.remodal.styl"
//----------------------------------*\
// Global Styles
//----------------------------------*/

// //Specify if you need
@import "global/*"



//----------------------------------*\
// Font
//----------------------------------*/

@import "font/*"


//----------------------------------*\
// Jade Layouts
//----------------------------------*/

@import "layouts/*"


//----------------------------------*\
// Pages
//----------------------------------*/
@import "pages/*"
//@import "pages/websiteUpdate.styl"
@import "pages/Parallax/*"

//----------------------------------*\
// Components
//----------------------------------*/
@import "components/*"


.box1{
	background-color: #88b6f7;
}

.box2{
	background-color: pink;
}

.box3{
	background-color: green;
}

.box4{
	background-color: yellow;
}