//----------------------------------*\
// Dev
//----------------------------------*/
//edit()

//----------------------------------*\
// Node Modules
//----------------------------------*/
//Change settings if needed

@import 'axis'
//Layout grid
@import 'jeet'
//breakPoints
@import 'rupture'
//Animation
@import 'axis/animation'

//Axis Reset
global-reset()
normilize()

//----------------------------------*\
// Vendor
//----------------------------------*/

//Specify if you need
@import "vendor/*"


//----------------------------------*\
// Bower Componets
//----------------------------------*/

//@import "..bower_components/slicknav/slicknav.css"

//----------------------------------*\
// Global Styles
//----------------------------------*/

// //Specify if you need
@import "global/*"



//----------------------------------*\
// Font
//----------------------------------*/

@import "font/*"


//----------------------------------*\
// Jade Layouts
//----------------------------------*/

@import "layouts/*"


//----------------------------------*\
// Pages
//----------------------------------*/
@import "pages/*"
//@import "pages/websiteUpdate.styl"
@import "pages/Parallax/*"

//----------------------------------*\
// Components
//----------------------------------*/
@import "components/*"
