//----------------------------------*\
// Dev
//----------------------------------*/
//edit()

//----------------------------------*\
// Node Modules
//----------------------------------*/
//Change settings if needed
//*****DELETE Normilize in Axis reset*****
@import 'nib'
@import 'axis'
@import 'jeet'
@import 'rupture'
@import 'axis/animation'
//Axis Reset
global-reset()

//----------------------------------*\
// Vendor
//----------------------------------*/

//Specify if you need
@import "vendor/*"


//----------------------------------*\
// Bower Componets
//----------------------------------*/

//@import "..bower_components/slicknav/slicknav.css"

//----------------------------------*\
// Global Styles
//----------------------------------*/

// //Specify if you need
@import "global/*"



//----------------------------------*\
// Font
//----------------------------------*/

@import "font/*"


//----------------------------------*\
// Jade Layouts
//----------------------------------*/

@import "layouts/*"


//----------------------------------*\
// Pages
//----------------------------------*/
@import "pages/*"
//@import "pages/websiteUpdate.styl"
@import "pages/Parallax/*"

//----------------------------------*\
// Components
//----------------------------------*/
@import "components/*"


section.content
	.box
		width: 100%;
		height: 1000px;
	.box1
		background-color: #88b6f7;
	.box2
		background-color: #9a9bff;
	.box3
		background-color: #bbfb94;
