
//----------------------------------*\
// Header Size and such
//----------------------------------*/

header.headerMobile
  z-index: 50
  cf()
  height: 50px
  display: none;
  +below(2)
    display: block;
    section
      span(5/6)
    aside
      span(1/6)

////-------------------*\
//// General Var
////-------------------*/
$headLogoColor = rgba(255, 255, 255, 0.95);

////-------------------*\
//// General Setting
////-------------------*/
header.headerMobile
  position: fixed  
  background: $c1;
  width: 100%; 

.headerMobileShadow
  height: 10px;
  width: 100%;
  position: fixed;
  top: 50px;
  background-image: url("../images/parallax_shadow_top.png");





header.headerMobile
  section
    h1#mobileLogo 
      uppercase()
      @extend .reset;
      @extend .pf2;
      font-size: 3em; 
      letter-spacing: 5px;
      padding-left: 5px;
      padding-top: 2px;
      color:$headLogoColor;


//----------------------------------*\
// Hamburger
//----------------------------------*/
////-------------------*\
//// Var.
////-------------------*/
$hamburgerColor = rgba(255, 255, 255, 0.80);
$hamburgerWidth = 50px;

////-------------------*\
//// Button Style
////-------------------*/


/* ========= Menu Icon Base ======== */

header.headerMobile
  aside
    #hamburger
      cf()
      z-index: 100;
    	height: 60px;
    	cursor: pointer;
    	display: inline-block;
    	font-size: 10px;
    	position: relative;
    	-webkit-user-select: none;
    	-moz-user-select: none;
    	-ms-user-select: none;
    	user-select: none;
    	-webkit-transition: 0.2s ease-in-out;
    	transition: 0.2s ease-in-out;
    	-webkit-tap-highlight-color: transparent;

#hamburger span {
  width: $hamburgerWidth;
  background: $hamburgerColor;
  //border-radius: 1em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 0.8em;
  position: absolute;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-tap-highlight-color: transparent;
  box-shadow: inset 0px -1px 2px 0px rgba(50, 50, 50, 0.75);
}

/* ============ MenuIcon ============ */
#hamburger span {
  left: 0;
}

#hamburger span:nth-child(1) {
  top: .5em;
}

#hamburger span:nth-child(2) {
  top: 2.1em;
}

#hamburger span:nth-child(3) {
  top: 3.7em;
}

.open#hamburger span:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(1.1em, 1.1em);
  -ms-transform: rotate(45deg) translate(1.1em, 1.1em);
  transform: rotate(45deg) translate(1.1em, 1.1em);
}

.open#hamburger span:nth-child(2) {
  opacity: 0;
}

.open#hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(1.1em, -1.1em);
  -ms-transform: rotate(-45deg) translate(1.1em, -1.1em);
  transform: rotate(-45deg) translate(1.1em, -1.1em);
}






//----------------------------------*\
// Nav setting
//----------------------------------*/



$sliding-menu-border-color = $g1;
$sliding-menu-background = lighten($sliding-menu-border-color, 5);
$sliding-menu-color = white;
$sliding-menu-border = 2px solid $sliding-menu-border-color;
$sliding-menu-background-hover = darken($sliding-menu-border-color, 5);
$sliding-menu-color-hover = darken($sliding-menu-border-color, 15);



.sliding-menu-content {
  box-shadow: inset -5px 0px 5px 0px rgba(50, 50, 50, 0.75);
  border-top-left-radius: 0px; 
  border-bottom-left-radius: 0px; 
  border-right: 3px solid darken($sliding-menu-border-color, 5);
  border-left: none;
  border-top: none;
  border-bottom: none;
  position: fixed;
  top: 0px;
  right: auto;
  bottom: 0px;
  left: 0px;
  width: 220px;
  height: 100%;
  transform: translateX(-220px);
  transition: all .25s linear;
  background: $sliding-menu-background;
  z-index: 999999;
  overflow: none;
  -webkit-overflow-scrolling: touch;
  li {
    stack()
    height: 75px;
    border-bottom: $sliding-menu-border;
    border-right: none;
    span{
      float: right;
      font-size: 3.5em;
      margin-top: -50px;
      padding-right: .5em;
    }
    &:last-child{
      position: absolute
      bottom:15px
      border-bottom: none;
      margin-top: 8px;
      a{
        unstack()
        @extend .reset;
        font-size: 5.5em 
        border-bottom: 2px solid $sliding-menu-border-color;
        border-top: 2px solid $sliding-menu-border-color;
        padding-right: 10px;
         padding-left: 10px;
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;  
        &:last-child{
        padding-left: 10px;
        padding-right: 10px;  
        border-left: 2px solid $sliding-menu-border-color;
        border-bottom: 2px solid $sliding-menu-border-color;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 25px; 
        border-top-left-radius: 0px;
        border-top-right-radius: 25px;
        color:green;
        }
      }
    }
  }
  li a {
    font-size: 2em;
    color: $sliding-menu-color;
    display: block;
    font-weight: bold;
    padding: 1em;
    margin-left: -1em;

    &:hover {
      // background-color: $sliding-menu-background-hover;
      // color: $sliding-menu-color-hover;
    }
  }

  &.is-visible {
  transform translateX(0);
  }
}

.menu-screen {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  transition: all 0.15s ease-out 0;
  background: $sliding-menu-border-color;
  opacity: 0;
  visibility: hidden;
  z-index: 999998;

  &.is-visible {
    opacity: .4;
    visibility: visible;
  }
}



//----------------------------------*\
// Header Logo Switch
//----------------------------------*/

// .greenLogo{
//   color: $c2 !important;
//   transition: all .55s $tz1;
// }