
//----------------------------------*\
// Global
//----------------------------------*/
////-------------------*\
//// Colors
////-------------------*/
$fomrFieldsetBG =  #f4d03f;
$formTitleColor = #373737;
$formInputPColor = rgba(255,255,255,.8);
$formLabelColor = $g2



////-------------------*\
//// fieldset
////-------------------*/
fieldset
	background: $fomrFieldsetBG;
	border: 1px solid #ddd;
	margin: 0 0 .75em;
	padding: 1.5em
	border-radius: 45px; 
	margin-top: 50px;
	min-height: 200px

#desktopForm
	::-webkit-input-placeholder
		color: lighten(#444, 15); 
	:focus::-webkit-input-placeholder
		text-indent: -999px
	::-moz-placeholder
		color: #ccc;
		font-style:italic;
	:focus::-moz-placeholder
		text-indent: -999px


//----------------------------------*\
// Form Styles
//----------------------------------*/
////-------------------*\
//// Title Button
////-------------------*/

#desktopForm
	.contactTitle
		col(9/10)
		shift(1/15)
		background: $formTitleColor;
		margin-bottom: 25px;
		text-align: center;
		color: white;
		font-size: 2.5em;
		padding: 15px;
		border-radius: 10px;
		border: 5px solid darken($formTitleColor, 5)


////-------------------*\
//// Input Styles
////-------------------*/
.formTopWrap
	cf()
	margin-top: 50px

.formName{
	col(1/2.5)
	shift(1/9)
	label{
		stack()
		col(1/2)
		shift(1/4)
		@extend .sf1;
		color: $formLabelColor
		transition: all 0.45s ease-out-sine;
		margin-bottom: 5px;
		text-align: center;
		font-size: 2em;
		letter-spacing: 2px;
		}
	.focus{
		unshift()
		transition: all 0.45s ease-out-sine;
		background: darken($formTitleColor, 5);
		border-radius: 8px;
		padding: 5px;
		color: white;
		text-align-last: center;
		margin-bottom: 0px;
		//border: 5px solid darken($formTitleColor, 5)
		} 
	input{
		stack()
		transition: all 0.45s ease-out-sine;
		border: 2px solid #ddd;
		text-align: center;
		font-size: 2em;
		border-radius: 2px;
		background: $formInputPColor;
		color:  #444;
		padding: 5px;
		&:focus{
			transition: all 0.45s ease-out-sine;
			border: 5px solid darken($formTitleColor, 5)
			background: #444;
			color: lighten(#444, 55);
			font-size: 2.5em;
			background: #444;
			border-radius: 8px; 
			text-align: left;
		}
	}
}

.formBis
	@extend .formName
	label
		@extend .sf1;

.formBottomWrap
	@extend .formTopWrap


.formPhone
	@extend .formName
	margin-bottom: 25px; 
	label
		@extend .sf1;

.formEmail
	@extend .formPhone
	label
		@extend .sf1;


.formMessageWrap
	cf()
	.formMessage
		col(1)
		label
			stack()
			col(1/2)
			shift(1/4)
			@extend .sf1;
			color: $formLabelColor;
			margin-top: 20px;
			transition: all 0.45s ease-out-sine;
			margin-bottom: 10px;
			text-align: center;
			font-size: 2em;
			letter-spacing: 2px;
		.focusMessage
			transition: all 0.45s ease-out-sine;
			background: darken($formTitleColor, 5);
			border-radius: 8px;
			padding: 5px;
			color: white;
			text-align-last: center;
			margin-bottom: 0px;
		textarea
			stack()
			col(3/4)
			shift(1/8)
			height: 150px;
			transition: all 0.45s ease-out-sine;
			border: 2px solid #ddd;
			text-align: center;
			font-size: 2em;
			border-radius: 2px;
			background: $formInputPColor;
			color:  #444;
			padding: 5px;
			&:focus
				transition: all 0.45s ease-out-sine;
				border: 5px solid darken($formTitleColor, 5)
				height: 150px;
				background: #444;
				color: lighten(#444, 55);
				font-size: 1.5em;
				background: #444;
				border-radius: 8px; 
				text-align: left;

////-------------------*\
//// Button
////-------------------*/

.buttonWrap
	cf()
	.formButton
		col(1/2)
		shift(1/4)
		margin-top: 25px;
		text-align: center;