
//----------------------------------*\
// Global
//----------------------------------*/
////-------------------*\
//// Colors
////-------------------*/
$formModalFieldsetBG =  $c1;
$formModalTitleColor = #373737;
$formModalInputPColor = rgba(255,255,255,.8);
$formModalLabelColor = white



////-------------------*\
//// fieldset
////-------------------*/
form#modalForm
	fieldset
		background: $formModalFieldsetBG;
		border: 1px solid #ddd;
		margin: 0 0 .75em;
		padding: 1.5em
		border-radius: 45px; 
		margin-top: 50px;
		min-height: 200px

#modalForm
	::-webkit-input-placeholder
		color: lighten(#444, 15); 
	:focus::-webkit-input-placeholder
		text-indent: -999px
	::-moz-placeholder
		color: #ccc;
		font-style:italic;
	:focus::-moz-placeholder
		text-indent: -999px


//----------------------------------*\
// Form Styles
//----------------------------------*/
////-------------------*\
//// Title Button
////-------------------*/

#modalForm
	.contactTitle
		col(8/10)
		shift(1.1/10)
		background: $formModalTitleColor;
		margin-bottom: 25px;
		text-align: center;
		color: white;
		font-size: 2.5em;
		padding: 15px;
		border-radius: 10px;
		border: 5px solid darken($formModalTitleColor, 5)


////-------------------*\
//// Input Styles
////-------------------*/
.formModalTopWrap
	cf()
	margin-top: 50px

.formModalName{
	col(1/2.5)
	shift(1/9)
	label{
		stack()
		col(1)
		@extend .sf1;
		color: $formModalLabelColor
		transition: all 0.45s ease-out-sine;
		margin-bottom: 5px;
		text-align: center;
		font-size: 2em;
		letter-spacing: 2px;
		}
	.focus{
		unshift()
		transition: all 0.45s ease-out-sine;
		background: darken($formModalTitleColor, 5);
		border-radius: 8px;
		padding: 5px;
		color: white;
		text-align-last: center;
		margin-bottom: 0px;
		//border: 5px solid darken($formModalTitleColor, 5)
		} 
	input{
		stack()
		transition: all 0.45s ease-out-sine;
		border: 2px solid #ddd;
		text-align: center;
		font-size: 2em;
		border-radius: 2px;
		background: $formModalInputPColor;
		color:  #444;
		padding: 5px;
		&:focus{
			transition: all 0.45s ease-out-sine;
			border: 5px solid darken($formModalTitleColor, 5)
			background: #444;
			color: lighten(#444, 55);
			font-size: 2.5em;
			background: #444;
			border-radius: 8px; 
			text-align: left;
		}
	}
}

.formModalBis
	@extend .formModalName
	label
		@extend .sf1;

.formModalBottomWrap
	@extend .formModalTopWrap


.formModalPhone
	@extend .formModalName
	margin-bottom: 25px; 
	label
		@extend .sf1;

.formModalEmail
	@extend .formModalPhone
	label
		@extend .sf1;


.formModalMessageWrap
	cf()
	.formModalMessage
		col(1)
		label
			stack()
			col(1)
			@extend .sf1;
			color: $formModalLabelColor;
			margin-top: 20px;
			transition: all 0.45s ease-out-sine;
			margin-bottom: 10px;
			text-align: center;
			font-size: 2em;
			letter-spacing: 2px;
		.focusMessage
			transition: all 0.45s ease-out-sine;
			background: darken($formModalTitleColor, 5);
			border-radius: 8px;
			padding: 5px;
			color: white;
			text-align-last: center;
			margin-bottom: 0px;
		textarea
			stack()
			col(8/10)
			shift(1.1/10)
			height: 150px;
			transition: all 0.45s ease-out-sine;
			border: 2px solid #ddd;
			text-align: center;
			font-size: 2em;
			border-radius: 2px;
			background: $formModalInputPColor;
			color:  #444;
			padding: 5px;
			&:focus
				transition: all 0.45s ease-out-sine;
				border: 5px solid darken($formModalTitleColor, 5)
				height: 150px;
				background: #444;
				color: lighten(#444, 55);
				font-size: 1.5em;
				background: #444;
				border-radius: 8px; 
				text-align: left;

////-------------------*\
//// Button
////-------------------*/

.buttonWrap
	cf()
	.formModalButton
		col(1/2)
		shift(1/4)
		margin-top: 25px;
		text-align: center;