//----------------------------------*\
// Global
//----------------------------------*/

#about
	background: $c2;
	width: 100%;
	min-height: 1400px;


	section
		center(max-width = 1410px);

////-------------------*\
//// Text Color
////-------------------*/
$atc = rgba(30,74,107,.86);
$darkG = #295;

//----------------------------------*\
// Title
//----------------------------------*/

#about
	section
		h2.aboutTitle1
			@extend .pf1;
			color: $atc;
			font-size: 8em; 
			margin-top: 50px;
			margin-bottom: 25px;
			text-align: center;
		////-------------------*\
		//// Title2 Box
		////-------------------*/
		.darkenBox
			col(1/2)
			shift(1/4)
			background: #295;
			margin: 0 auto;
			border-radius: 8px;
			+below(2)
				col(9/10)
				unshift()
				shift(.5/10)
		h3.aboutTitle2
			@extend .pf3;
			font-size: 7em; 
			color: $atc;
			text-align: center;
			padding: 35px;
			//padding-bottom: 50px;
		h2.aboutTitle3
			@extend .pf1;
			col(1)
			color: $atc;
			font-size: 8em; 
			margin-top: 20px;
			margin-bottom: 25px;
			text-align: center;

//----------------------------------*\
// Wrapper for icon and info
//----------------------------------*/


#aboutBottomWrap
	cf();
	padding-top: 25px;
	border-top: 15px solid $darkG;
	border-bottom: 15px solid $darkG;


//----------------------------------*\
// Icons
//----------------------------------*/

aside.aboutIconWrap
	center(max-width = 1410px);

.visualID
	col(1/4)
	@extend .sf1;
	color: $atc;
	font-size: 3em;
	text-align: center;
	+below(2)
		span(1/2)
		text-align: center
	.aIcon
		font-size: 2.5em;
		margin-bottom: 10px;
		color: white;

.webDesign
	@extend .visualID;

.mobileDesign
	@extend .visualID;

.development
	@extend .visualID;

