//----------------------------------*\
// Global for Index
//----------------------------------*/

section.splashContent
	background: $c1;
	min-height: 1050px;
	height: 100vh;
	+below(2)
		display: none;

#indexWrap
	center(max-width = 1410px)



//----------------------------------*\
// Mag Indexg
//----------------------------------*/

#magIndex
	+below(2)
		display: none;
	@extend .pf1;
	margin-top: 150px;
	color: white;
	overflow: hidden;
	min-height: 1000px;
	#quote.split
		text-align: center;
		div
			padding: 10px; 
			@extend .pf3;

	#decoys.split
		//background: green;
		height: 550px;
			div
				padding: 10px; 
				@extend .pf2;
			
	.split
		@extend .pf1;
		-webkit-transform: translate3d(0, 0, 0);
		font-size:40px;
		line-height:36px;
		color:#dedede;
		margin:50px auto;
		width:100%;
		visibility:hidden;
	.split div
		@extend .pf1;
		border-radius:4px;
		background:#cecece;
		padding:0 8px;
		margin:4px 0;
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing:antialiased;
		color:#555;
		font-weight:bold;



//----------------------------------*\
// Second Comming
//----------------------------------*/
////-------------------*\
//// Titles
////-------------------*/
#secondComing
	margin-top: -850px; 
	center(max-width = 1410px)
.indexTitle
	margin-top: 80px;
	text-align: center
	color: white;
	@extend .reset;
	@extend .pf2;

.indexDescription
	text-align: center
	margin-top: 45px;
	color: white;
	@extend .reset;
	@extend .pf1;


.indexLocation
	text-align: center
	margin-top: 15px;
	color: white;
	margin-bottom: 60px;
	@extend .reset;
	@extend .pf2;


////-------------------*\
//// Icons
////-------------------*/
.icons
	margin-top: 45px;
	text-align: center;
	color: white;
	@extend .pf1;
	img
		width: 85px;

	.frendily
		col(1/3)
		&:hover
			animation: bounce 1s

	.professional
		col(1/3)
		&:hover
			animation: bounce 1s
	.suitable
		col(1/3)
		&:hover
			animation: bounce 1s
////-------------------*\
//// Contact Buttton
////-------------------*/

.indexBtn
	col(1/2)
	shift(1/4)
	@extend .reset;
	@extend .sf1;
	letter-spacing: 15px;
	margin-top: 85px;
	height: 125px;
	border: 3px solid white;
	text-align: center
	color: white;

