.tab
	ul.tabs
		li.visual
			a(href='#') Visual
		li
			a(href='#') Web
		li
			a(href='#') Mobile
		li
			a(href='#') Development
	.tab_content(data-mh="aBox")
		.tabs_item(data-mh="aBox")
			.aboutText
				h4 Visual Identity
				p#flowAbout
					| From small businesses starting to develop their presence online, 
					| to individuals working within large organisations, it's important 
					| to maintain a solid personal brand online. Your brand and identity 
					| are key drivers of your company’s perception. Here at Creativo we 
					| mix creativity with our design talent to produce branding and 
					| identity that is both purposeful and unforgettable. Your company 
					| will catch the eye ads, event posters, and business cards that are 
					| attractive to your audience. From color schemes to logo designs and 
					| everything inbetween we have you covered.
			img(src='../images/about1.png')
		.tabs_item(data-mh="aBox")
			.aboutText
				h4 Web Design
				p#flowAbout2
					| In today's technology driven world your website will be the first point 
					| and time a potential customer interacts with your business. Needless to say, 
					| it’s of utmost importance to make a great impression online just as your 
					| business does at its brick and mortar location. You need a website that grabs 
					| your potential customers attention, tells your story, and build trust through 
					| an online connection. Luckily for you this is what we do best. We develop websites 
					| that turn traffic into leads, leads into sales and customers into raving fans.
			img(src='../images/about2.jpg')
		.tabs_item(data-mh="aBox")
			.aboutText
				h4 Mobile Design
				p#flowAbout
					| As a fully responsive web design agency we know the importance of making sure your 
					| website provides an optimal viewing experience across a wide range of devices. 
					| So whether a customer views your site on a smartphone, tablet, or a 28” monitor you 
					| can rest rest assured they will have the best user experience possible. Furthermore, 
					| we integrate functionally responsive elements into your website like click-to-call functionality, 
					| making your customers just a tap away.
			img(src='../images/about3.jpg')
		.tabs_item(data-mh="aBox")
			.aboutText
				h4 Development
				p#flowAbout
					| Developing your online presence does not start and end at building a website or mobile 
					| application. We provide valuable insight and  about social media, SEO, web analytics, 
					| and other up-and-coming technologies.We also take care of the standards compliancy of 
					| your web site, the content management system, the e-commerce system, the web and database 
					| development and the hosting, domain name registration, email and everything else in between.
			img(src='../images/about4.jpg')