fieldset#desktopForm
	form(action='#')
		.contactTitle
			h2 Send Us A Message
		.formWrap
			p.formName
				label.labelName(for='text_field') Name
				input#text_field(type='text', placeholder='Tyler Schultz')
		//- 	p.formBis
		//- 		label(for='text_field') Business
		//- 		input#text_field2(type='text', placeholder='Creativo')
		//- 	p.formPhone
		//- 		label(for='text_field') Phone
		//- 		input#text_field3(type='text', placeholder='262.443.4015')
		//- 	p.formEmail
		//- 		label(for='text_field') Email
		//- 		input#text_field4(type='text', placeholder='tyler@creativo.io')
		//- 	p.formMessage
		//- 		label(for='text_area') Message
		//- 		textarea#text_area(placeholder='Lets grab a cup of coffee and talk shop.')
		//- .buttonWrap
		//- 	p.formButton
		//- 		input.button(type='submit', value='Submit')