form#modalForm
	fieldset
		.contactTitle
			h2 Send A Message
		.formModalTopWrap
			p.formModalName
				label.labelModalName(for='text_field') Name
				input#text_fieldModal(type='text', placeholder='Tyler Schultz')
			p.formModalBis
				label.labelModalBis(for='text_field') Business
				input#text_field2Modal(type='text', placeholder='Creativo')
		.formModalBottomWrap
			p.formModalPhone
				label.labelModalPhone(for='text_field') Phone
				input#text_field3Modal(type='text', placeholder='262.443.4015')
			p.formModalEmail
				label.labelModalEmail(for='text_field') Email
				input#text_field4Modal(type='text', placeholder='tyler@creativo.io')
		.formModalMessageWrap
			p.formModalMessage
				label.labelModalMessage(for='text_area') Message
				textarea#text_areaModal(placeholder='Lets grab a cup of coffee and talk shop.')
		.buttonWrap
			p.formModalButton
				input.pressButton.lightText.large.square.black(type='submit', value='Submit')