.tabs
    .tab-buttons
        span.content1 Button 1
        span.content2 Button 2
        span.content3 Button 3
        span.content4 Button 4
        #lamp.content1
      .tab-content
        .content1
          | This is the content of 1 container.This will be open when button 1 is clicked.This is the content of 1 container.This will be open when button 1 is clicked.This is the content of 1 container.This will be open when button 1 is clicked.
          img(src='http://d13yacurqjgara.cloudfront.net/users/5411/screenshots/1413345/wellv2.png')
        .content2
          | This is the content of 2 container.This will be open when button 2 is clicked.This is the content of 2 container.This will be open when button 2 is clicked.This is the content of 2 container.This will be open when button 2 is clicked.
          img(src='http://d13yacurqjgara.cloudfront.net/users/424765/screenshots/1412407/ezyinsights.jpg')
        .content3
          | This is the content of 3 container.This will be open when button 3 is clicked.This is the content of 3 container.This will be open when button 3 is clicked.This is the content of 3 container.This will be open when button 3 is clicked.
        .content4
          | This is the content of 3 container.This will be open when button 3 is clicked.This is the content of 3 container.This will be open when button 3 is clicked.This is the content of 3 container.This will be open when button 3 is clicked.
