
////-------------------*\
//// Colors
////-------------------*/
$c1 = #316C7E;
$c2 = #27ae60;
$c3 = #eb9532;
$c4 = #f1c40f;


$g1 = #444;
$g2 = #2f2f2f;
$g3 = #181818;

////-------------------*\
//// Color Classes
////-------------------*/

.c1{
	color: $c1
}

.c2{
	color: $c2
}

.c3{
	color: $c3
}

.c4{
	color: $c4
}