
//----------------------------------*\
// Global font
//----------------------------------*/
$fontOne = 'Titillium Web', 'sans-serif';
$fontTwo = 'Oswald', 'sans-serif';


////-------------------*\
//// FontOne
////-------------------*/
.pf1
	font-family: $fontOne;
	font-weight: 200;
.pf2
	font-family: $fontOne;
	font-weight: 300;
.pf3
	font-family: $fontOne;
	font-weight: 600;

////-------------------*\
//// FontTwo
////-------------------*/
.sf1
	font-family: $fontTwo;
	font-weight: 700;