

//----------------------------------*\
// Helper Classes
//----------------------------------*/
////-------------------*\
//// Padding/Margin Reset
////-------------------*/

.reset
	padding: 0px;
	margin: 0px;



////-------------------*\
//// Buttons
////-------------------*/

