

//----------------------------------*\
// Helper Classes
//----------------------------------*/
////-------------------*\
//// Padding/Margin Reset
////-------------------*/

.reset
	padding: 0px;
	margin: 0px;



////-------------------*\
//// Underline
////-------------------*/

.underline {
  background-image: linear-gradient(bottom, rgba(34, 153, 85, 0) 1.15em, #ffffff 1.15em, #ffffff 1.19em, rgba(34, 153, 85, 0) 1.19em);
  display: inline-block;
  -webkit-background-size: 2px 2em;
  background-size: 2px 2em;
  background-repeat: repeat-x;
  /* Set your wanted text-shadow here */
  text-shadow: 2px 2px 0px #229955, 2px -2px 0px #229955, -2px 2px 0px #229955, -2px -2px 0px #229955, 0px 2px 0px #229955, 0px -2px 0px #229955;
}
