extends layouts/default

append mainVars
	- currentPage = 'Contact'
	- pageTitle = 'Welcome to the contact page'
	- description = 'Da index'
	- keywords = 'Da keywords'
	- author = 'T'


block content