extends layouts/default

append mainVars
	- currentPage = 'index'
	- pageTitle = 'Welcome to the home page'
	- description = 'Da index'
	- keywords = 'Da keywords'
	- author = 'T'


block content
	.boxColor.box1
		include pages/splash
	include pages/mobileSpash
	.boxColor.box2
		include pages/px1
		include pages/about
	.boxColor.box3
		include pages/px2
		include pages/process
	.boxColor.box4
		include pages/px3
		include pages/contact
	include pages/components/reModal
	include pages/components/madeWithLove