extends layouts/default

append mainVars
	- currentPage = 'index'
	- pageTitle = 'Welcome to the home page'
	- description = 'Da index'
	- keywords = 'Da keywords'
	- author = 'T'


block content
	h1 Hello