extends layouts/default

append mainVars
	- currentPage = 'index'
	- pageTitle = 'Welcome to the home page'
	- description = 'Da index'
	- keywords = 'Da keywords'
	- author = 'T'
//-boxPosistion for header swithing
//-boxColor is the color of iteam

block content
	#section-1
		include pages/splash
		.boxPosistion.box1Color
		include pages/mobileSpash
	#section-2
		.boxPosistion.box2Color
		include pages/px1
		include pages/about
	#section-3
		.boxPosistion.box3Color
		include pages/px2
		include pages/process
	#section-4
		.boxColorPosistion.box4Color
		include pages/px3
		include pages/contact
	include pages/components/reModal
	include pages/components/madeWithLove