extends layouts/default

append mainVars
	- currentPage = 'index'
	- pageTitle = 'Welcome to the home page'
	- description = 'Da index'
	- keywords = 'Da keywords'
	- author = 'T'


block content
	include pages/splash
	include pages/mobileSpash
	include pages/px1
	include pages/about
	include pages/px2
	include pages/process
	include pages/px3
	include pages/contact
	include pages/components/reModal
	include pages/components/madeWithLove