extends layouts/default

append mainVars
	- currentPage = 'index'
	- pageTitle = 'Welcome to the home page'
	- description = 'Da index'
	- keywords = 'Da keywords'
	- author = 'T'


block content
	include pages/splash
	include pages/px1
	include pages/about
	include pages/px2
	section.content
		.box.box2
			h2 Box2
		.box.box3
			h2 Box3