//- defualt

doctype
html.no-js
	include default-partials/html-head
	//include default-partials/websiteUpdate
	//-Modal blur class/effect
	.remodal-bg
		include default-partials/header
		include default-partials/mobileHeader
		include default-partials/mobileNav
		block content
	//include default-partials/footer
	include default-partials/scripts
