
#about
	section
		h2.aboutTitle1 We Create The Web
		.darkenBox
			h3.aboutTitle2 Through You
		h2.aboutTitle3 It's What We Do Best
	#aboutBottomWrap
		aside.aboutIconWrap
			.visualID.iconAnimation
				.icon-eye.aIcon
				h2#iconTitle1 Visual Identity
			.webDesign.iconAnimation
				.icon-desktop.aIcon
				h2#iconTitle2 Wed Design
			.mobileDesign.iconAnimation
				.icon-mobile.aIcon
				h2#iconTitle3 Mobile Design
			.development.iconAnimation
				.icon-pencil.aIcon
				h2#iconTitle4 Development
		article.aboutTabWrap
			include components/creativoTabs