
#about
	section
		h2.aboutTitle1 We Create The Web
		.darkenBox
			h3.aboutTitle2 Through You
		h2.aboutTitle3 It's What We Do Best
	#aboutBottomWrap
		aside.aboutIconWrap
			.visualID
				.icon-eye.aIcon
				h2 Visual Identity
			.webDesign
				.icon-desktop.aIcon
				h2 Wed Design
			.mobileDesign
				.icon-mobile.aIcon
				h2 Mobile Design
			.development
				.icon-pencil.aIcon
				h2 Development
		article.aboutTabWrap
			.tab
				ul.tabs
					li.visual
						a(href='#') Visual
					li
						a(href='#') Web
					li
						a(href='#') Mobile
					li
						a(href='#') Mobile
				.tab_content
					.tabs_item
						img(src='http://d13yacurqjgara.cloudfront.net/users/5411/screenshots/1413345/wellv2.png')
						.aboutText
							h4 Tab 01 Neque ipsum dolor.
							p
								| Consectetur adipisicing elit..
					.tabs_item
						img(src='http://d13yacurqjgara.cloudfront.net/users/424765/screenshots/1412407/ezyinsights.jpg')
						.aboutText
							h4 Tab 01 Neque ipsum dolor.
							p
								| Consectetur adipisicing elit..
					.tabs_item
						img(src='http://d13yacurqjgara.cloudfront.net/users/347667/screenshots/1412641/untitled-1.jpg')
						.aboutText
							h4 Tab 01 Neque ipsum dolor.
							p
								| Consectetur adipisicing elit..