
#contact
	section
		.phoneDisplay
			.circleWrap
				.circle
					img(src="http://lorempixel.com/300/300/", alt="")
			.phone
				h3 262
					span .
					|443
					span .
					|4015
				#pIcon
					.icon-phone
		.emailDisplay
			h3 info
				span.at @
				| creativo
				span.dot .
				| io
			#eIcon
				.icon-mail-alt