
section#mobileSpash
	.mobileSplashLogo
		h1#mobileSplashLogo Creativo
	.mobileTopBreak
	#mobileSplashIcons
		.mobileFrendily
			img(src="../images/s01.png" alt="Frendily")
			h3 Frendily
		.mobileSuitable
			img(src="../images/s03.png" alt="Suitable")
			h3 Suitable
		.mobileProfessional
			img(src="../images/s02.png" alt="Professional")
			h3 Professional
	.mobileBottomBreak
	.mobileSplashDisc
		h2#mobileSplashDiscOne An Independent Creative
		.boxDisc
			h1 Web
			h1 Design
			h1 Studio
		h2#mobileSplashDiscTwo Based In Oconomowoc, WI
