

#process
	section
		.processTitle
			h1 The Creativo Process
		.pTopBreak
		.processDisc
			h2
				| When your business decides to create a new website or mobile app 
				| we can understand why it can turn into a  frustrating, confusing, and daunting ordeal. 
				| There is an absurd amount of options and business to chose from, 
				| and each one will claim they are the best and better than the rest. 
				| But here at Creativo we do things a bit different than other web development firm. 
		.pBottomBreak

	article
		.process1.pMIcon#process1
			.icon-search.icon
				.processBoxTitle
					h1 Listing to your need
			.downArrowWrap
				.downArrow
			.pDescript(data-mh="pBox")
				.numberBox
					h2 1
				.descriptBox
					p#flowProcess
						| Before we get the ball rolling, we believe it’s critical to have an in person 
						| conversation to establish your needs, goals, and dreams. 
						| This first meeting will help us create a baseline to work from and build upon during the next stages. 
						| Furthermore, Because there is a possibly we may not the right fit for your business, and if thats the case we will make sure your business finds a more appropriate fit.

		.process2.pMIcon#process2
			.icon-cogs.icon
				.processBoxTitle
					h1 Project Discovery
			.downArrowWrap
				.downArrow
			.pDescript(data-mh="pBox")
				.numberBox
					h2 2
				.descriptBox
					p#flowProcess
						| We encounter many customers and competitors that at this stage are ready 
						| to just dive in headfirst and begin building. Unfortunately, it is not quite that easy. 
						| Before beginning we conduct market research to validate the proposed project. 
						| And by the end of this step we will create the perfect solution for your business that 
						| will not only provide what your customer is looking for but what they want. 


		.process3.pMIcon#process3
			.icon-chat-inv.icon
				.processBoxTitle
					h1 Storming our Brains
			.downArrowWrap
				.downArrow
			.pDescript(data-mh="pBox")
				.numberBox
					h2 3
				.descriptBox
					p#flowProcess
						| Good projects come from good ideas. 
						| You are experts when it come to your business and customers and we are the experts when it comes to 
						| digital multimedia solutions. In this step we will build on our initial foundation with the 
						| use of visual aids such as wireframe and Photoshop mockups to give you the ability to visually 
						| see the flow and architecture of your new project. This will grant us the ability to work together 
						| and make modifications before the first building block is laid. 

		.process4.pMIcon#process4
			.icon-chat-inv.icon
				.processBoxTitle
					h1 Storming our Brains
			.downArrowWrap
				.downArrow
			.pDescript(data-mh="pBox")
				.numberBox
					h2 4
				.descriptBox
					p#flowProcess
						| Good projects come from good ideas. 
						| You are experts when it come to your business and customers and we are the experts when it comes to 
						| digital multimedia solutions. In this step we will build on our initial foundation with the 
						| use of visual aids such as wireframe and Photoshop mockups to give you the ability to visually 
						| see the flow and architecture of your new project. This will grant us the ability to work together 
						| and make modifications before the first building block is laid. 

		.process5.pMIcon#process5
			.icon-gift.icon
				.processBoxTitle
					h1 Delving the product
			.downArrowWrap
				.downArrow
			.pDescript(data-mh="pBox")
				.descriptBox
					p#flowProcessProduct
						| Good projects come from good ideas. 
						| You are experts when it come to your business and customers and we are the experts when it comes to 
						| digital multimedia solutions. In this step we will build on our initial foundation with the 
						| use of visual aids such as wireframe and Photoshop mockups to give you the ability to visually 
						| see the flow and architecture of your new project. This will grant us the ability to work together 
						| and make modifications before the first building block is laid. 