

#process
	section
		.processTitle
			h2 The Creativo Process
		.pTopBreak
		.processDisc
			h3
				| The world wide web is an enormous place and to be quite honest it even frightens us from time to time. So when your business decides to create a new website or embark on an print project we understand it can be a daunting, frustrating, and confusing ordeal. And understandably so, there are millions of options and business to chose from with each one asserting they are the best . Nevertheless, here at Creativo we do things a bit different than other web studios. We are firm believes in good old fashion integrity, in which handshake is a binding contract and a start of an honest relationships. Because at the end of the day our success is a reflection of your success even if that means referring you to use our competition.
		.pBottomBreak

	article
		.process1.pMIcon#process1
			.icon-search.icon
				.processBoxTitle
					h1 Listing to your need
			.downArrowWrap
				.downArrow
			.pDescript(data-mh="pBox")
				.numberBox
					h2 1
				.descriptBox
					p#flowProcess
						| Before we get the ball rolling, we believe it’s critical to have an in person 
						| conversation to establish your needs, goals, and dreams. 
						| This first meeting will help us create a baseline to work from and build upon during the next stages. 
						| Furthermore, there is a possibly we may not the right fit for your business and if thats the case we will make sure your business finds a more appropriate fit.

		.process2.pMIcon#process2
			.icon-cogs.icon
				.processBoxTitle
					h1 Project Discovery
			.downArrowWrap
				.downArrow
			.pDescript(data-mh="pBox")
				.numberBox
					h2 2
				.descriptBox
					p#flowProcess
						| We encounter many customers whom at this stage are ready 
						| to just dive in headfirst and begin building. Unfortunately, it is not quite that easy. 
						| Before beginning we conduct extensive market research to validate the proposed project. 
						| By the end of this step we will create the perfect solution for your business that 
						| will not only provide what your customer is looking for but what they want. 


		.process3.pMIcon#process3
			.icon-chat-inv.icon
				.processBoxTitle
					h1 Storming our Brains
			.downArrowWrap
				.downArrow
			.pDescript(data-mh="pBox")
				.numberBox
					h2 3
				.descriptBox
					p#flowProcess
						| Good projects come from good ideas. 
						| You are the experts when it come to your business and customers and we are the experts when it comes to 
						| digital multimedia solutions. In this step we will build on our initial foundation with the 
						| use of visual aids such as wireframe and Photoshop mockups to give you the ability to visually 
						| see the flow and architecture of your new project. This will grant us the ability to work together 
						| and make modifications before the first building block is laid. 

		.process4.pMIcon#process4
			.icon-paper-plane.icon
				.processBoxTitle
					h1 Getting There
			.downArrowWrap
				.downArrow
			.pDescript(data-mh="pBox")
				.numberBox
					h2 4
				.descriptBox
					p#flowProcess
						| Once we have the prototype set we will begin to hand code and create your project with love and care. From perfecting the design, adding content and pictures, to testing, and finally putting your project through a rigorous usability test. We make sure your project looks great on all major browsers, tablets, and phones so you can rest assure knowing all your customers will have a great user experience regardless of how they access your project.

		.process5.pMIcon#process5
			.icon-gift.icon
				.processBoxTitle
					h1 Delving the product
			.downArrowWrap
				.downArrow
			.pDescript(data-mh="pBox")
				.descriptBox
					p#flowProcessProduct
						| Here at Creativo we believe the biggest difference between us and our competitors is once your project is live we do not consider our job to be complete. We ensure your project is submitted properly to all the major data aggregators so your customers can find you no matter what. Furthermore, we employ state of the art analytic software which allows us to better know your users and their behaviors on your website to increase your traffic and conversion rate. But we do not stop there, we provide continual support and expertise whether you would like to make a simple text change or embark on an online advertising campaign you can count on Creativo.