

#aboutPX1
	.mobilePX1#mobilePX1
		.mobilePX1Shadow
			.top#mobilePX1
			h1 About
			.bottom
	section#parallaxPX1
		#parallaxBGPX1
			#blueOverlayPX1
			#greenOverlayPX1
			.top
			.bottom
		//h3 Creativo
		h1#aboutText About




