section.content.splashContent
	#indexWrap
	#magIndex
		#quote.split Creativo Helps You Put All The Right Peices Together
		#decoys.split
			|Acessibility AJAX Anchor-Text Back-End Bandwidth CSS3 CMS
			|SEO SEM DNS Domain E-Commerce Favicon Layout Font Front-End HTML
			|Backlink Blog CAPTCHA Browser Cookie DOM Wordpress Joomla
			|Bootstrap HTML5 Hyperlink Tag Keywords Google MarkUp Search PNG
			|Logo App Color Styl URL WC3 Angular XML WYSIWYG Design Developer
			|SEO SEM DNS Domain E-Commerce Favicon Layout Font Front-End HTML


		//secondComing
		#secondComing
			.indexTitle
				h1 Creativo
			.indexDescription
				h2 We Are An Independent Creative Web Design Studio
			.indexLocation
				h2 Based in Oconomowoc, WI.
			.icons
				.frendily
					img(src="../images/s01.png" alt="Frendily")
					h3 Frendily
				.professional
					img(src="../images/s02.png" alt="Professional")
					h3 Professional
				.suitable
					img(src="../images/s03.png" alt="Suitable")
					h3 Suitable
			#buttonWrap.indexBtn
				.buttonBase.doubleRoll(data-remodal-target='modal' href='#modal')
					div Say Hello
					div Send A
					div Say Hello
					div Message
				
