


//- #np-Nav
//- 	ul.navigation
//- 		li
//- 			a.np-link(href='#news', data='NewsFeed')
//- 				.iconPhone
//- 				span News Feed
//- 		li
//- 			a.np-link(href='#challenges', data='Challenges')
//- 				img(src='img/trophy5.png')
//- 				span Challenges
//- 		li
//- 			a.np-link(href='#weeklyChallenges', data='WeeklyChallenges')
//- 				img(src='img/submit.png')
//- 				span Weekly Challenges
//- 		li
//- 			a.np-link(href='#leaderboards', data='LeaderBoards')
//- 				img(src='img/games18.png')
//- 				span Leaderboards
//- 		li
//- 			a.np-link(href='#settings', data='Settings')
//- 				img(src='img/settings9.png')
//- 				span Settings

header.headerMobile.main-header
	section
		h1 Creativo
	aside
		.js-menu-trigger.sliding-menu-button(type='button')
			#hamburger
				span
				span
				span
		nav.js-menu.sliding-menu-content
			ul
				li
					a(href='javascript:void(0)') Home
				li
					a(href='javascript:void(0)') About
				li
					a(href='javascript:void(0)') Process
				li
					a(href='javascript:void(0)') Contact
				//- li
				//- 	a.icon-mail-alt(href='javascript:void(0)')
				//- 	a.icon-phone(href='javascript:void(0)')
		.js-menu-screen.menu-screen