

header.headerMobile
	.headerMobileShadow
	section#mobileLogoWrapper
		#mobileLogoJPG
			img(src="../images/logoWebWhite1.png" alt="Frendily")
		#mobileLogoTxt 
			h1 Creativo
	aside
		.js-menu-trigger.sliding-menu-button(type='button')
			#hamburger
				span#navSpan1
				span#navSpan2
				span#navSpan3
		nav.js-menu.sliding-menu-content
			ul
				li
					a(href='#') Home
					span.icon-home.mobileIcon.c1
				li
					a(href='#') About
					span.icon-info-outline.mobileIcon.c2
				li
					a(href='#') Process
					span.icon-cogs.mobileIcon.c3
				li
					a(href='#') Contact
					span.icon-location.mobileIcon.c4
				li
					a.icon-mail-alt(href='javascript:void(0)')
					a.icon-phone(href='javascript:void(0)')
		.js-menu-screen.menu-screen