

header.headerMobile
	.headerMobileShadow
	section#mobileLogoWrapper
		#mobileLogoJPG
			img(src="../images/logoWebWhite1.png" alt="Frendily")
		#mobileLogoTxt 
			h1 Creativo
	aside
		.js-menu-trigger.sliding-menu-button(type='button')
			#hamburger
				span#navSpan1
				span#navSpan2
				span#navSpan3
		nav.js-menu.sliding-menu-content
			ul
				li
					a(href='#section-1') Home
					span.icon-home.mobileIcon.c1
				li
					a(href='#section-2') About
					span.icon-info-outline.mobileIcon.c2
				li
					a(href='#section-3') Process
					span.icon-cogs.mobileIcon.c3
				li
					a(href='#section-4') Contact
					span.icon-location.mobileIcon.c4
				li
					a.icon-mail-alt(href="mailto:tyler@creativo.io?Subject=Creativo%Inquiry")
					a.icon-phone(href='tel:+2624434015')
		.js-menu-screen.menu-screen