//- Scripts

//- Google Jquery
script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')

script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.8/TweenMax.min.js")


//- Script Injects
//- Not a clean solution but it will do
// build:js scripts/vendor.js 
// bower:js
script(src='bower_components/slicknav/jquery.slicknav.min.js')
// endbower 
// endbuild  


// build:js scripts/main.js 
script(src='scripts/main.js')
// endbuild 