//- Var

block mainVars
    - Navigation = [{title:'Home',link:'index'},{title:'About Us',link:'about-us'},{title:'Contact',link:'contact'}]

    - footerNavigation = [{title:'Privacy Policy',link:'privacy-policy'}]