//- Var

block mainVars
    - Navigation = [{title:'Home',link:'#home'},{title:'About Us',link:'#about'},{title:'Process',link:'#process'},{title:'Contact',link:'#contact'}]

    - footerNavigation = [{title:'Privacy Policy',link:'privacy-policy'}]