extends layouts/default

append mainVars
	- currentPage = 'index'
	- pageTitle = 'Creativo'
	- description = 'An Independent Creative Web Design Studio Based in Oconomowoc, Wisconsin'
	- keywords = 'Visual, Web, Mobile'
	- author = 'T'


.bg-img
	.musicWrapper
		h1.title Creativo
		.circle
			#bars
				.bar
				.bar
				.bar
				.bar
				.bar
				.bar
		h2 Marching To The Beat Of Your Dream

	.icons
		a(href="mailto:tyler@creativo.io")
			.icon-mail-alt
		h3 Updating 
		a(href="tel:2624434015")
			.icon-phone